header, .navbar-fixed-top, .navbar-inner, .navbar .btn-navbar {
  background: #fff;
  -webkit-box-shadow: none; 
  -moz-box-shadow: none; 
  box-shadow: none;
  -webkit-appearance:none;
  border:none;
  width: 100px;
  height: 100px;
  margin: 1px 2em 5pt 1233px;
  padding-top: 0;
  padding-right: auto;
}
