
/* footer menu */

/*.right-trim {
    border-right:1px solid black;
}
*/
.left-trim {
/*    border-left:1px solid #ccc;*/
}

.top-trim-dotted {
/*    border-top:1px dotted #ccc;*/
}

/*p {
    -ms-word-break: break-all;
    word-break: break-all;
    word-break: break-word;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
}*/

/* NAVBAR */
/*header, .navbar, .navbar-fixed-top, .navbar-inner, .navbar .btn-navbar {*/
header, .navbar-fixed-top, .navbar-inner, .navbar .btn-navbar {
    background: #fff;
    -webkit-box-shadow: none; 
    -moz-box-shadow: none; 
    box-shadow: none;
    -webkit-appearance:none;
    border:none;
}

/*.navbar .container { height: 180px; }*/
body {
  padding-top: 0;
}

@media (max-width: 979px) {
  body {
    padding-top: 0px;
  }
}

/*.clearboth { clear: both; }*/

.overlay-wrapper {
	position:relative; /* important(so we can absolutely position the description div */
}
.overlay-description {
	position:absolute; /* absolute position (so we can position it where we want)*/
	bottom:0px; /* position will be on bottom */
	left:0px;
	display:none; /* hide it */
	/* styling bellow */
	background-color:black;
/*  font-family: 'tahoma';*/
	font-size:12pt;
	color:white;
}
.overlay-description a {
	color:white;    
}
     
.overlay-description-content {
	padding:10px;
}

#crop_marks_tp {
    visibility:hidden;
}

#crop_marks_bm {
    visibility:hidden;
}

.editable form input, .editable form button {
/*    zoom: 3;*/
}

/* MENU SPRITES */
#menu-browse {
    height:9px;
    width:120px;
    background:url(/images/menu/sprites.gif) no-repeat;
    background-position: -380px -0px;
    line-height: 9px;
    font-size: 6px;
    padding:0;
    margin-top: -1em;
    margin-right:2em;
}

#menu-how {
    height:9px;
    width:90px;
    background:url(/images/menu/sprites.gif) no-repeat;
    background-position: -502px -0px;
    line-height: 9px;
    font-size: 6px;
    padding:0;
    margin-top: -1em;
    margin-right:2em;
}

#menu-custom {
    height:9px;
    width:96px;
    background:url(/images/menu/sprites.gif) no-repeat;
    background-position: -590px -0px;
    line-height: 9px;
    font-size: 6px;
    padding:0;
    margin-top: -1em;
    margin-right:2em;
}

#menu-about {
    height:9px;
    width:60px;
    background:url(/images/menu/sprites.gif) no-repeat;
    background-position: -688px -0px;
    line-height: 9px;
    font-size: 6px;
    padding:0;
    margin-top: -1em;
    margin-right:2em;
}

#menu-contact {
    height:9px;
    width:60px;
    background:url(/images/menu/sprites.gif) no-repeat;
    background-position: -746px -0px;
    line-height: 9px;
    font-size: 6px;
    padding:0;
    margin-top: -1em;
    margin-right:2em;
}

/* TOP USER MENU */
#menu-account {
    height:9px;
    width:84px;
    background:url(/images/menu/sprites.gif) no-repeat;
    background-position: -146px -0px;
    line-height: 9px;
    font-size: 6px;
    padding:0;
    margin-top: 3em;
    margin-right:2em;
}

#menu-projects {
    height:9px;
    width:78px;
    background:url(/images/menu/sprites.gif) no-repeat;
    background-position: -230px -0px;
    line-height: 9px;
    font-size: 6px;
    padding:0;
    margin-top: 3em;
    margin-right:2em;
}

#menu-credits {
    height:9px;
/*    width:70px; */
    background:url(/images/menu/sprites.gif) no-repeat;
    background-position: -806px -0px;
    line-height: 9px;
    font-size: 6px;
    padding:0;
    margin-top: 3em;
    margin-right:2em;
}

#menu-credits-number {
    font-size: 12px;
    margin-top: -15px;
    margin-left: 52px;
    padding-right: 12px;
}

#menu-signup {
    height:9px;
    width:50px;
    background:url(/images/menu/sprites.gif) no-repeat;
    background-position: -0px -0px;
    line-height: 9px;
    font-size: 6px;
    padding:0;
    margin-top: 3em;
    margin-right:2em;
}

#menu-login {
    height:9px;
    width:40px;
    background:url(/images/menu/sprites.gif) no-repeat;
    background-position: -50px -0px;
    line-height: 9px;
    font-size: 6px;
    padding:0;
    margin-top: 3em;
    margin-right:2em;
}

#menu-logout {
    height:9px;
    width:56px;
    background:url(/images/menu/sprites.gif) no-repeat;
    background-position: -91px -0px;
    line-height: 9px;
    font-size: 6px;
    padding:0;
    margin-top: 3em;
    margin-right:2em;
}

#menu-buycredits {
    height:9px;
    width:76px;
    background:url(/images/menu/sprites.gif) no-repeat;
    background-position: -308px -0px;
    line-height: 9px;
    font-size: 6px;
    padding:0;
    margin-top: 3em;
    margin-right:2em;
}

.menu-divider {
    position:relative;
    height:9px;
    width:2px;
    line-height: 9px;
    font-size: 6px;
    padding:0;
    margin-top: 3em;
    margin-right:2em;    
}

#terms {
  font-size: 10pt;
  width: 600px;
  height: 100px;
  overflow-y: scroll;
}

#terms2 {
  font-size: 10pt;
  width: 600px;
  height: 200px;
  overflow-y: scroll;
}


.terrible {
  font-weight: bold;
  color: #aaa;
}

.simple-checkbox .checkbox {
  text-align: left;
  width: auto;
  float: none;
}